<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Charts</title>
</head>
<body>
    <div id="buttonarea"><p>Please Don't Press Me Unless You Are Cian</p> </div>
</body>

<script>
    var body = document.getElementById("buttonarea");
    button = document.createElement("button");
    button.innerHTML = "Press Me";
    
    var data = {
            classID: "1",
			date: "2018-10-01",
			note: "Lorem Ipsum"
        };	


    function buttonFunction(e){

        var data = {
            classID:"33",
            moduleID: "9",
            name: "lecture 15",
            description: "0",
            date:"2019-03-15",
            activities: [53,51],
            lecturer: 9,
        };	


        fetch("/updateClass", {
                    method: "POST", 
                    cache: "no-cache",
                    body: JSON.stringify(data),
                    headers: new Headers({"content-type": "application/json"})
                }).then(res => {
                    console.log("Request complete! response:", res);
                });
        }	
    button.addEventListener ("click", buttonFunction);
    body.appendChild(button);
</script>
</html>