<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Charts</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.js"></script>
    <script src="charts.js"></script>
</head>
<body>
    <div class="chart_contain_Coordinator">
        <canvas id="chart1" class="canvas2" style= "width: 900px;
        height: 440px;" ></canvas>
        <canvas id="chart2" class="canvas2" style= "width: 900px;
        height: 440px;" ></canvas>
        <canvas id="chart3" class="canvas2" style= "width: 900px;
        height: 440px;" ></canvas>
    </div>



    <script>
        var ctx = document.getElementById('chart1');
        var ctx2 = document.getElementById('chart2');
        var ctx3 = document.getElementById('chart3');         
        var responseModulePie = JSON.parse('{{jsonPie | tojson | safe}}');
        var responseModuleWeekly = JSON.parse('{{jsonWeeks  tojson | safe}}');
        var responseModuleWeekly = JSON.parse('{{jsonModules  tojson | safe}}');

        var myChart = makePieChart(responseModulePie, ctx1, "doughnut", "Modules Overview Total");
        var myChart2 = makeStackedChart(responseModuleWeekly, ctx2, "bar", "Modules Overview by Week", "Week");
        var myChart3 = makeStackedChart(responseModuleStacked, ctx3, "bar", "Total Hours Contributed by Each Module", "Module ID");
    </script>
</body>
</html>