<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Charts</title>
</head>
<body>
    <div id="buttonarea"><p>Update Feedback</p> </div>
</body>

<script>
    var body = document.getElementById("buttonarea");
    button = document.createElement("button");
    button.innerHTML = "Press Me";
    var data = {
        activityType: "1", 
        activityID: "1", 
        questions: ["1","1","1","1"],
        answers: ["10","3","2","6"]
    };
    function buttonFunction(e){
        fetch("/updateFeedback", {
                    method: "POST", 
                    cache: "no-cache",
                    body: JSON.stringify(data),
                    headers: new Headers({"content-type": "application/json"})
                }).then(res => {
                    console.log("Request complete! response:", res);
                });
        }
    button.addEventListener ("click", buttonFunction);
    body.appendChild(button);
</script>
</html>